<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
<!--                取后台管理员名字-->
                <div th:text="${session.adminname}"></div>
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">菜单</li>

            <li id="admin-index"><a href="#"><i class="fa fa-dashboard"></i> <span>首页</span></a></li>

            <!-- 菜单 -->

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>后台通用页面</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="admin-datalist">
<!--                        <%&#45;&#45; 业务起点 &#45;&#45;%>-->
                        <a th:href="@{/admin/findAllProduct}">
                            <i class="fa fa-circle-o"></i> 商品管理
                        </a>
                    </li>

                </ul>

                <ul class="treeview-menu">

                    <li id="admin-datalist2">
<!--                        <%&#45;&#45; 业务起点 &#45;&#45;%>-->
                        <a th:href="@{/admin/findPurchaseHistory}">
                            <i class="fa fa-circle-o"></i> 用户购买记录查询
                        </a>
                    </li>

                </ul>


            </li>

            <!-- 菜单 /-->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</html>