<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据 - AdminLTE2定制版</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">

    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
            name="viewport">


    <link rel="stylesheet"
          href="../../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="../../static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="../../static/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet"
          href="../../static/plugins/iCheck/square/blue.css">
    <link rel="stylesheet"
          href="../../static/plugins/morris/morris.css">
    <link rel="stylesheet"
          href="../../static/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet"
          href="../../static/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet"
          href="../../static/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet"
          href="../../static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet"
          href="../../static/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet"
          href="../../static/plugins/treeTable/jquery.treetable.css">
    <link rel="stylesheet"
          href="../../static/plugins/treeTable/jquery.treetable.theme.default.css">
    <link rel="stylesheet"
          href="../../static/plugins/select2/select2.css">
    <link rel="stylesheet"
          href="../../static/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet"
          href="../../static/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet"
          href="../../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet"
          href="../../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet"
          href="../../static/css/style.css">
    <link rel="stylesheet"
          href="../../static/plugins/ionslider/ion.rangeSlider.css">
    <link rel="stylesheet"
          href="../../static/plugins/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet"
          href="../../static/plugins/bootstrap-slider/slider.css">
    <link rel="stylesheet"
          href="../../static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
</head>

<body class="hold-transition skin-purple sidebar-mini">

<div class="wrapper">

    <!-- 页面头部 -->
    <div id="headerPage"></div>
    <!-- 页面头部 /-->


    <!-- 导航侧栏 -->
    <div id="asidePage"></div>
    <!-- 导航侧栏 /-->

    <!-- 内容区域 -->
    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                用户管理 <small>用户表单</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i
                        class="fa fa-dashboard"></i> 首页</a></li>
                <li><a
                        href="#">用户管理</a></li>
                <li class="active">用户表单</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <form action="/admin/update.do" method="post">
            <!-- 正文区域 -->
            <section class="content"> <!--产品信息-->

                <div class="panel panel-default">
                    <div class="panel-heading">产品信息</div>
                    <div class="row data-type">
                        <div class="col-md-2 title">id</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="product_id"
                                   placeholder="id" th:value="${product.product_id}">
                        </div>

                        <div class="col-md-2 title">产品名称</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="product_name"
                                   placeholder="产品名称" th:value="${product.product_name}">
                        </div>
                        <div class="col-md-2 title">产品种类</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="kind"
                                   placeholder="产品种类" th:value="${product.kind}">
                        </div>
                        <div class="col-md-2 title">价格</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="price"
                                   placeholder="价格" th:value="${product.price}">
                        </div>
                        <div class="col-md-2 title">介绍</div>
                        <div class="col-md-4 data">
                            <input type="text" class="form-control" name="introduction"
                                   placeholder="介绍" th:value="${product.introduction}">
                        </div>


                    </div>
                </div>
                <!--订单信息/--> <!--工具栏-->
                <div class="box-tools text-center">
                    <button type="submit" class="btn bg-maroon">保存</button>
                    <button type="button" class="btn bg-default"
                            onclick="history.back(-1);">返回</button>
                </div>
                <!--工具栏/--> </section>
            <!-- 正文区域 /-->
        </form>
    </div>
    <!-- 内容区域 /-->



</div>


<script
        src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script
        src="../../static/plugins/jQueryUI/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script
        src="../../static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script
        src="../../static/plugins/raphael/raphael-min.js"></script>
<script
        src="../../static/plugins/morris/morris.min.js"></script>
<script
        src="../../static/plugins/sparkline/jquery.sparkline.min.js"></script>
<script
        src="../../static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script
        src="../../static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script
        src="../../static/plugins/knob/jquery.knob.js"></script>
<script
        src="../../static/plugins/daterangepicker/moment.min.js"></script>
<script
        src="../../static/plugins/daterangepicker/daterangepicker.js"></script>
<script
        src="../../static/plugins/daterangepicker/daterangepicker.zh-CN.js"></script>
<script
        src="../../static/plugins/datepicker/bootstrap-datepicker.js"></script>
<script
        src="../../static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<script
        src="../../static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script
        src="../../static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script
        src="../../static/plugins/fastclick/fastclick.js"></script>
<script
        src="../../static/plugins/iCheck/icheck.min.js"></script>
<script
        src="../../static/plugins/adminLTE/js/app.min.js"></script>
<script
        src="../../static/plugins/treeTable/jquery.treetable.js"></script>
<script
        src="../../static/plugins/select2/select2.full.min.js"></script>
<script
        src="../../static/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script
        src="../../static/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js"></script>
<script
        src="../../static/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script
        src="../../static/plugins/bootstrap-markdown/locale/bootstrap-markdown.zh.js"></script>
<script
        src="../../static/plugins/bootstrap-markdown/js/markdown.js"></script>
<script
        src="../../static/plugins/bootstrap-markdown/js/to-markdown.js"></script>
<script
        src="../../static/plugins/ckeditor/ckeditor.js"></script>
<script
        src="../../static/plugins/input-mask/jquery.inputmask.js"></script>
<script
        src="../../static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script
        src="../../static/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script
        src="../../static/plugins/datatables/jquery.dataTables.min.js"></script>
<script
        src="../../static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script
        src="../../static/plugins/chartjs/Chart.min.js"></script>
<script
        src="../../static/plugins/flot/jquery.flot.min.js"></script>
<script
        src="../../static/plugins/flot/jquery.flot.resize.min.js"></script>
<script
        src="../../static/plugins/flot/jquery.flot.pie.min.js"></script>
<script
        src="../../static/plugins/flot/jquery.flot.categories.min.js"></script>
<script
        src="../../static/plugins/ionslider/ion.rangeSlider.min.js"></script>
<script
        src="../../static/plugins/bootstrap-slider/bootstrap-slider.js"></script>
<script
        src="../../static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>

<script>
    $(document).ready(function() {
        // 选择框
        $(".select2").select2();

        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale : 'zh-CN'
        });
    });

    $(document).ready(function () {
        //加载页首页面
        $("#headerPage").load("/admin/header");
        //加载页脚页面
        $("#asidePage").load("/admin/aside");
    });

    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }
</script>


</body>

</html>