<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>军训必需品平台</title>
    <!--导入核心文件-->
    <script src="../../static/bootstrap3/js/holder.js"></script>
    <link href="../../static/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../../static/bootstrap3/jquery-1.9.1.min.js"></script>
    <script src="../../static/bootstrap3/js/bootstrap.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../../static/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/webindex.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/top.css"/>
</head>

<body>

<!--头部-->
<div id="headPage"></div>

<div class="clearfix"></div>


<div class="clearfix"></div>
<hr/>
<!--推荐栏目-->
<div class="col-md-offset-1 col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新到好货</h3>
        </div>
        <div id="newList" class="panel-body panel-item">

            <table class="ui celled table">
                <tbody>
                <tr th:each="t??????,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}"  class="col-md-7 text-row-2">1</td>
                    <td th:text="${type.name}" class="col-md-2">刻意练习清单</td>
                    <td class="col-md-3">
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a  class="item" th:href="@{/admin/types(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                            <a  class="item" th:href="@{/admin/types(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                        </div>
                        <a href="#"  th:href="@{/admin/types/input}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div class="col-md-12">
                <div class="col-md-7 text-row-2"><a href="product.html">现摘正宗新疆库勒尔香梨，10斤整箱包邮特产</a></div>
                <div class="col-md-2">¥69.8</div>
                <div class="col-md-3"><img src="../../static/images/portal/02COMIXC5902A5122blue/collect.png" width="100%"/>
                </div>
            </div>



        </div>

    </div>

</div>


<div class="clearfix"></div>

<!-- 页脚 -->
<div id="footerPage"></div>

<script type="text/javascript">
    $(document).ready(function () {
        //加载页首页面
        $("#headPage").load("../template/topTemplate.html");
        //加载页脚页面
        $("#footerPage").load("../template/footerTemplate.html");

    });
</script>

<script>
    $(document).ready(function () {
        //这里和下面的是出现一些产品的接口
        var url = "../../new_list";
        // 发送ajax请求，并处理请求
        $.ajax({
            "url": url,
            "type": "POST",
            "data": {},
            "dataType": "json",
            "success": function (json) {
                if (json.state == 200) {
                    $("#newList").empty();
                    var list = json.data;
                    for (var i = 0; i < list.length; i++) {
                        console.log(list[i].image + "-" + list[i].title);
                        var html = '<div class="col-md-12">' +
                            '<div class="col-md-7 text-row-2"><a href="product.html?id=#{id}">#{title}</a></div>' +
                            '<div class="col-md-2">¥#{price}</div>' +
                            '<div class="col-md-3"><img src="../../../..#{image}collect.png" width="100%" /></div>' +
                            '</div>';

                        html = html.replace(/#{id}/g, list[i].id);
                        html = html.replace(/#{image}/g, list[i].image);
                        html = html.replace(/#{price}/g, list[i].price);
                        html = html.replace(/#{title}/g, list[i].title);
                        $("#newList").append(html);
                    }
                } else {
                    alert(json.message);
                }
            }

        });
        var url = "../../hot_list";
        // 发送ajax请求，并处理请求
        $.ajax({
            "url": url,
            "type": "POST",
            "data": {},
            "dataType": "json",
            "success": function (json) {
                if (json.state == 200) {
                    $("#hotList").empty();
                    var list = json.data;
                    for (var i = 0; i < list.length; i++) {
                        console.log(list[i].image + "-" + list[i].title);
                        var html = '<div class="col-md-12">' +
                            '<div class="col-md-7 text-row-2"><a href="product.html?id=#{id}">#{title}</a></div>' +
                            '<div class="col-md-2">¥#{price}</div>' +
                            '<div class="col-md-3"><img src="../../../..#{image}collect.png" width="100%" /></div>' +
                            '</div>';

                        html = html.replace(/#{id}/g, list[i].id);
                        html = html.replace(/#{image}/g, list[i].image);
                        html = html.replace(/#{price}/g, list[i].price);
                        html = html.replace(/#{title}/g, list[i].title);
                        $("#hotList").append(html);
                    }
                } else {
                    alert(json.message);
                }
            }
            // ,
            // "error": function (xhr, text, errorThrown) {
            //     alert("您登陆的信息已经过期!请重新登录!");
            //     location.href = "login.html";
            // }
        });
    });
</script>
</body>

</html>