<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>军训必需品平台</title>
    <!--导入核心文件-->
    <script src="../../static/bootstrap3/js/holder.js"></script>
    <link href="../../static/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../../static/bootstrap3/jquery-1.9.1.min.js"></script>
    <script src="../../static/bootstrap3/js/bootstrap.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../../static/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/webindex.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/top.css"/>
</head>

<body>

<!--头部-->
<div id="headPage"></div>

<div class="clearfix"></div>


<div class="clearfix"></div>
<hr/>
<!--推荐栏目-->
<div class="col-md-offset-1 col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新到好货</h3>
        </div>
        <div id="newList" class="panel-body panel-item">

            <table class="ui celled table">
                <tbody>
                <tr th:each="product : ${page.content}">
                    <td th:text="${product.image}" class="col-md-7 text-row-2"></td>
                    <a href="#" th:href="@{/cart/add_to_cart.do(id=${product.product_id})}" ><td th:text="${product.product_name}" class="col-md-2"></td></a>
                    <td th:text="${product.price}"></td>
                    </td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a  class="item" th:href="@{/admin/types(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                            <a  class="item" th:href="@{/admin/types(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                        </div>
                        <a href="#"  th:href="@{/admin/types/input}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

        </div>

    </div>

</div>


<div class="clearfix"></div>

<!-- 页脚 -->
<div id="footerPage"></div>

<script type="text/javascript">
    $(document).ready(function () {
        //加载页首页面
        $("#headPage").load("../template/topTemplate.html");
        //加载页脚页面
        $("#footerPage").load("../template/footerTemplate.html");

    });
</script>

<script>
    $(document).ready(function () {
        //这里和下面的是出现一些产品的接口
        var url = "/admin/Product";
        // 发送ajax请求，并处理请求
        $.ajax({
            "url": url,
            "type": "POST",
            "data": {},
            "dataType": "json",
            "success": function (json) {
                if (json.state == 200) {
                } else {
                    alert(json.message);
                }
            }
        });
    });
</script>
</body>

</html>