<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>军训必需品平台</title>
    <!--导入核心文件-->
    <script src="../../static/bootstrap3/js/holder.js"></script>
    <link href="../../static/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../../static/bootstrap3/jquery-1.8.3.min.js"></script>
    <script src="../../static/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/top.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css"/>
    <script src="../../static/js/favorites.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/imgmove.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/imgmove.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/favorites.css"/>
</head>

<body>
<!--头部-->
<div id="headPage"></div>


<div class="col-md-offset-1 col-md-10"><b>军训必需品</b></div>
<div id="line1" class="col-md-offset-1 col-md-10">

    <div class="col-md-3">
        <div class="goods-panel">
            <div class="move-img img-search">
                <img src="../../static/images/portal/14LenovoYOGA710%20_gold/collect.png" width="100%"/>
            </div>
            <h4>¥28.9</h4>
            <h5 class="text-row-3"><a href="product.html"><small>云南德宏特产新鲜水果胭脂果鬼眼睛果山李子酸甜可煮果酱500g</small></a></h5>
            <span>
						<a href="javascript:void(0)" class="btn btn-default btn-xs add-fav"><span
                                class="fa fa-heart"></span>取消收藏</a>
						<a href="cart.html" class="btn btn-default btn-xs add-cart"><span
                                class="fa fa-cart-arrow-down"></span>加入购物车</a>
				</span>

        </div>
    </div>


</div>

<div class="col-md-offset-1 col-md-10">
    <h4 id="page" align="center">
        <a href="#">上一页</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">下一页</a>
    </h4>
</div>
<!-- 页脚 -->
<div id="footerPage"></div>

<script type="text/javascript">
    $(document).ready(function () {
        //加载页首页面
        $("#headPage").load("../template/topTemplate.html");
        //加载页脚页面
        $("#footerPage").load("../template/footerTemplate.html");

        // 加载当前用户的收货地址列表
        showList();
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        var page = 1;
        var limit = 12;
        // pageInfo(page,limit);
        pageList(page, limit);
    });

    function pageInfo() {
        $("#page").empty();
        var html = '<a href="#">上一页</a>';
        html = $("#page").append(html);

        var html = '<a href="#">上一页</a>';
        html = $("#page").append(html);
    }

    function pageList(page, limit) {
        var url = "../../product_list/list";
        // 发送ajax请求，并处理请求
        $.ajax({
            "url": url,
            "type": "POST",
            "data": {"page": page, "limit": limit},
            "dataType": "json",
            "success": function (json) {
                if (json.state == 200) {
                    console.log("count=" + json.count);
                    $("#line1").empty();
                    var list = json.data;
                    for (var i = 0; i < list.length; i++) {
                        console.log(list[i].image + "-" + list[i].title);
                        var html = '<div class="col-md-3">'
                            + '<div class="goods-panel">'
                            + '<div class="move-img img-search">'
                            + '<img src="../../../..#{image}collect.png" width="100%"/>'
                            + '</div>'
                            + '<h4>¥#{price}</h4>'
                            + '<h5 class="text-row-3"><a href="product.html?id=#{id}"><small>#{title}</small></a></h5>'
                            + '<span>'
                            + '<a href="javascript:void(0)" class="btn btn-default btn-xs add-fav"><span class="fa fa-heart"></span>取消收藏</a>'
                            + '<a href="cart.html" class="btn btn-default btn-xs add-cart"><span class="fa fa-cart-arrow-down"></span>加入购物车</a>'
                            + '</span>'
                            + '</div>'
                            + '</div>';

                        html = html.replace(/#{id}/g, list[i].id);
                        html = html.replace(/#{image}/g, list[i].image);
                        html = html.replace(/#{price}/g, list[i].price);
                        html = html.replace(/#{title}/g, list[i].title);
                        // html = html.replace(/#{goods-panel}/g,'style="width: 100%;border: 1px solid#eeeeee;box-shadow: 0px 0px 0px #888888;padding: 3px;padding-bottom: 10px;margin-bottom: 30px;"');

                        $("#line1").append(html);
                        $("#line1").trigger('create');
                    }
                } else {
                    alert(json.message);
                }
            },
            "error": function (xhr, text, errorThrown) {
                alert("您登陆的信息已经过期!请重新登录!");
                location.href = "login.html";
            }
        });
    }
</script>
<link rel="stylesheet" type="text/css" href="../../static/css/imgmove.css"/>
<link rel="stylesheet" type="text/css" href="../../static/css/favorites.css"/>
</body>
<link rel="stylesheet" type="text/css" href="../../static/css/imgmove.css"/>
<link rel="stylesheet" type="text/css" href="../../static/css/favorites.css"/>
</html>