<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8"/>
    <title>军训必需品平台</title>
    <!--导入核心文件-->
    <script src="../../static/bootstrap3/js/holder.js"></script>
    <link href="../../static/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../../static/bootstrap3/jquery-1.9.1.min.js"></script>
    <script src="../../static/bootstrap3/js/bootstrap.js"></script>
    <script src="../../static/bootstrap3/jquery-getUrlParam.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../../static/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/top.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/product.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/imgmove.css"/>
    <script src="../../static/js/product.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/imgmove.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        .style_img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 50%;
        }
    </style>
</head>

<body>

<!--头部-->
<div id="headPage"></div>


<!--商品信息展示开始-->
<div class="col-md-offset-1 col-md-10">
    <div class="col-md-6">

        <div data="1" class="img-big move-img col-md-12">
            <img src="../../static/images/product/3.jpg" width="100%" id="img1-big"/>
        </div>


    </div>

    <div class="col-md-6">
        <h3 id="goods-title" class="col-md-12 title-row-1" title="">定型军被正品帆布成型棉军被子内务标兵豆腐块模型军训叠军被神器</h3>
        <h4 class="col-md-12 text-row-1"><small id="goods-sell-point">军训必备！多买多送！</small></h4>
        <div class="col-md-12 price-bar">
            <small>售价：</small>¥<span id="goods-price">80</span>
            <div><small>*退货补运费 *7天无理由退货 *24小时快速退款 </small></div>
        </div>
        <form class="form-inline product-form col-md-12" role="form">
            <div class="col-md-12 form-space">
                <label for="num">数量：</label>
                <input id="numDown" type="button" value="-" class="num-btn"/>
                <input id="num" type="text" size="2" readonly="readonly" class="num-text" value="1">
                <input id="numUp" class="num-btn" type="button" value="+"/>
            </div>
            <div class="col-md-12 form-space">
                <h4><small><b>军训必需品平台</b>发货并提供售后服务,今日下单,明日送达</small></h4>

            </div>
            <div class="col-md-12 form-space">

                <input class="btn btn-primary btn-lg btn-block" type="button" value="立即购买">

            </div>

            <div class="col-md-12 form-space">

                <button onclick="f2()" id="btn-add-to-cart" type="button" class="btn btn-default"><img class="myicon" src="../../static/images/icon/购物车.png"/>
                    加入购物车
                </button>

                <button type="button" class="btn btn-default"><img class="myicon" src="../../static/images/icon/收藏.png"/> 加入收藏</button>

            </div>
        </form>

    </div>

</div>
<!--商品信息展示结束-->

<!-- 页脚 -->
<div id="footerPage"></div>
<script type="text/javascript">
    $(document).ready(function () {
        //加载页首页面
        $("#headPage").load("../template/topTemplate.html");
        //加载页脚页面
        $("#footerPage").load("../template/footerTemplate.html");

        // 加载当前用户的收货地址列表
        showList();
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        // 获取URL中的id
        id = $.getUrlParam("id");
        console.log("id=" + id);
        // 显示商品详情
        showGoodsDetails(id);
    });

    // 处理"添加到购物车"
    $("#btn-add-to-cart").click(function () {
        alert("添加购物车成功！")
    });
</script>

</body>

</html>