<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>军训必需品平台</title>
		<!--这个是登录后访问的顶部-->
	</head>

	<body>

		<!--头部-->
		<header class="header">
			<!--logo-->
			<div class="col-md-3">
				<a href="../../user/index.html">
					<img src="../../../static/images/index/stumalllogo.png" />
				</a>
			</div>
			<!--快捷选项-->
			<div class="col-md-9 top-item" >
				
				<ul class="list-inline" style="float: right;" >

					<li><a href="favorites.html"><i class="layui-icon layui-icon-heart"></i>&nbsp收藏</a></li>
					<li class="li-split">|</li>
					<li><a href="orders.html"><span class="fa fa-file-text"></span>&nbsp订单</a></li>
					<li class="li-split">|</li>
					<li><a href="../../user/cart.html"><span class="fa fa-cart-plus"></span>&nbsp购物车</a></li>
					<li class="li-split">|</li>
					<li>
						<!--下列列表按钮 ：管理-->
						<div class="btn-group">
							<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
								<span id="top-dropdown-btn"><span class="fa fa-gears"></span>&nbsp;管理 <span class="caret"></span></span>
							</button>
							<ul class="dropdown-menu top-dropdown-ul" role="menu">
								<li><a href="../../user/password.html">修改密码</a></li>
								<li><a href="../../user/userdata.html">个人资料</a></li>
								<li><a href="../../user/upload.html">上传头像</a></li>
								<li><a href="../../user/address.html">收货地址管理</a></li>
							</ul>
						</div>
					</li>
					<li class="li-split">|</li>
					<li><a href="../../user/login.html"><span class="fa fa-user"></span>&nbsp;登录</a></li>

				</ul>
				
			</div>

		</header>
		<!--头部结束-->
		<!--导航 -->
		<!--分割导航和顶部-->
		<div class="clearfix"></div>
		<hr />
		<div class="col-md-12 top-nav">
			<div class="col-md-6">
				<ul class="nav nav-pills">
					<li>
						<a href="#"></a>
					</li>
					<li class="active"><a href="../../user/index.html"><span class="fa fa-home"></span></a></li>
					<li><a href="#">分类1</a></li>
					<li><a href="#">分类2</a></li>
					<li><a href="#">分类3</a></li>
					<li><a href="#">分类4</a></li>
					<li><a href="#">分类5</a></li>
				</ul>

			</div>
			<div class="col-md-6">

				<form action="../../user/search.html" class="form-inline" role="form" style="float: right;">
					<div class="form-group">
						<input type="text" class="form-control" id="search" name="search" placeholder="请输入商品名称进行搜索">
					</div>

					<button type="submit" class="btn btn-default btn-sm"><span class="fa fa-search"></span></button>
				</form>

			</div>
		</div>
		<!--导航结束-->
	</body>

</html>