<!DOCTYPE html>

<!--页脚开始-->
<div class="clearfix"></div>
<footer class="footer">
    <!-- 品质保障，私人定制-->
    <div class="text-center rights container">
        <div class="col-md-offset-2 col-md-2">
            <h4>品质保障</h4>
        </div>
        <div class="col-md-2">
            <h4>私人订制</h4>
        </div>
        <div class="col-md-2">
            <h4>学生特供</h4>
        </div>
        <div class="col-md-2">
            <h4>专属特权</h4>
        </div>
    </div>
    <!--联系我们、下载客户端等-->
    <div class="container beforeBottom">
        <div class="col-md-offset-1 col-md-3">
            <div><img src="../../static/images/common/stumalllogo.png" alt="" class="footLogo"/></div>
        </div>
        <div class="col-md-4 callus text-center">
            <div class="col-md-4">
                <ul>
                    <li><a href="#"><h5>买家帮助</h5></a></li>
                    <li><a href="#">新手指南</a></li>
                    <li><a href="#">服务保障</a></li>
                    <li><a href="#">常见问题</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="#"><h5>商家帮助</h5></a></li>
                    <li><a href="#">商家入驻</a></li>
                    <li><a href="#">商家后台</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-5">
                <p>军训必需品平台客户端</p>
                <img src="../../static/images/common/ios.png" class="lf">
                <img src="../../static/images/common/android.png" alt="" class="lf"/>
            </div>
        </div>
    </div>
    <!-- 页面底部-备案号 #footer -->
    <div class="col-md-12 text-center bottom">
        Copyright © 2020
        版权所有
    </div>

</footer>
<!--页脚结束-->
