<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8" />
		<title>绿色农场</title>
		<!--导入核心文件-->
		<script src="../../static/bootstrap3/js/holder.js"></script>
		<link href="../../static/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
		<script src="../../static/bootstrap3/jquery-1.9.1.min.js"></script>
		<script src="../../static/bootstrap3/js/bootstrap.js"></script>
		<!-- 字体图标 -->
		<link rel="stylesheet" href="../../static/bootstrap3/font-awesome-4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/top.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/footer.css" />
	</head>

	<body>
		<!--头部-->
		<header class="header">
			<!--绿色农场logo-->
			<div class="col-md-3">
				<a href="../user/index.html">
					<img src="../../static/images/common/stumalllogo.png" />
				</a>
			</div>




			<!--快捷选项-->
			<div class="col-md-9 top-item" >
				
				<ul class="list-inline" style="float: right;" >

					<li><a href="favorites.html"><span class="fa fa-heart"></span>&nbsp;收藏</a></li>
					<li class="li-split">|</li>
					<li><a href="orders.html"><span class="fa fa-file-text"></span>&nbsp;订单</a></li>
					<li class="li-split">|</li>
					<li><a href="../user/cart.html"><span class="fa fa-cart-plus"></span>&nbsp;购物车</a></li>
					<li class="li-split">|</li>
					<li>
						<!--下列列表按钮 ：管理-->
						<div class="btn-group">
							<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
								<span id="top-dropdown-btn"><span class="fa fa-gears"></span>&nbsp;管理 <span class="caret"></span></span>
							</button>
							<ul class="dropdown-menu top-dropdown-ul" role="menu">
								<li><a href="../user/password.html">修改密码</a></li>
								<li><a href="../user/userdata.html">个人资料</a></li>
								<li><a href="../user/upload.html">上传头像</a></li>
								<li><a href="../user/address.html">收货管理	</a></li>
							</ul>
						</div>
					</li>
					<li class="li-split">|</li>
					<li><a href="../user/login.html"><span class="fa fa-user"></span>&nbsp;登录</a></li>

				</ul>
				
			</div>

		</header>
		<!--头部结束-->
		<!--导航 -->
		<!--分割导航和顶部-->
		<div class="clearfix"></div>
		<hr />
		<div class="col-md-12 top-nav">
			<div class="col-md-6">
				<ul class="nav nav-pills">
					<li>
						<a href="#"></a>
					</li>
					<li class="active"><a href="../user/index.html"><span class="fa fa-home"></span></a></li>
					<li><a href="#">秒杀</a></li>
					<li><a href="#">优惠券</a></li>
					<li><a href="#">学子VIP</a></li>
					<li><a href="#">外卖</a></li>
					<li><a href="#">超市</a></li>
				</ul>

			</div>
			<div class="col-md-6">

				<form action="../user/search.html" class="form-inline" role="form" style="float: right;">
					<div class="form-group">
						<input type="text" class="form-control" id="search" name="search" placeholder="请输入商品名称进行搜索">
					</div>

					<button type="submit" class="btn btn-default btn-sm"><span class="fa fa-search"></span></button>
				</form>

			</div>
		</div>
		<!--导航结束-->
		
		
		
			<!--页脚开始-->
		<div class="clearfix"></div>
		<footer class="footer">
			<!-- 品质保障，私人定制等-->
			<div class="text-center rights container">
				<div class="col-md-offset-2 col-md-2">
					<span class="fa fa-thumbs-o-up"></span>
					<h4>品质保障</h4>
				</div>
				<div class="col-md-2">
					<span class="fa fa-address-card-o"></span>

					<h4>私人订制</h4>
				</div>
				<div class="col-md-2">
					<span class="fa fa-graduation-cap"></span>
					<h4>学区特供</h4>
				</div>
				<div class="col-md-2">
					<span class="fa fa-bitcoin"></span>

					<h4>专属特权</h4>
				</div>
			</div>
			<!--联系我们、下载客户端等-->
			<div class="container beforeBottom">
				<div class="col-md-offset-1 col-md-3">
					<div><img src="../../static/images/common/stumalllogo.png" alt="" class="footLogo" /></div>
					<div><img src="../../static/images/common/footerFont.png" alt="" /></div>

				</div>
				<div class="col-md-4 callus text-center">
					<div class="col-md-4">
						<ul>
							<li><a href="#"><h5>买家帮助</h5></a></li>
							<li><a href="#">新手指南</a></li>
							<li><a href="#">服务保障</a></li>
							<li><a href="#">常见问题</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul>
							<li><a href="#"><h5>商家帮助</h5></a></li>
							<li><a href="#">商家入驻</a></li>
							<li><a href="#">商家后台</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul>
							<li><a href="#"><h5>关于我们</h5></a></li>
							<li><a href="#">关于软酷</a></li>
							<li><a href="#">联系我们</a></li>
							<li>
								<span class="fa fa-wechat"></span>
								<span class="fa fa-weibo"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="col-md-5">
						<p>绿色农场客户端</p>
						<img src="../../static/images/common/ios.png" class="lf">
						<img src="../../static/images/common/android.png" alt="" class="lf" />
					</div>
					<div class="col-md-6">
						<img src="../../static/images/common/erweima.png">
					</div>
				</div>
			</div>
			<!-- 页面底部-备案号 #footer -->
			<div class="col-md-12 text-center bottom">
				Copyright © 2018 Nchu.cn All Rights Reserved 京ICP备xxxxxxxx号-56 <a target="_blank" style="font-size: 12px" href="http://www.ruanku.cn/">武汉软酷网络科技有限公司</a> 版权所有
			</div>

		</footer>
		<!--页脚结束-->
	</body>

</html>